{% extends 'main/layout.html' %}
{% block title %}
    <title>Топ навыков</title>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
{% endblock %}

{% block body_cute %}
    <h1 class="zagolovok">Топ навыков</h1>
    <div class="func_1">
        <h3 class="text_top">
            Топ 20 навыков по годам для всех профессий
        </h3>
        <div class="image_php">
            <img src="static/main/img/all_skills.png" class="image_php1">
        </div>
    </div>
    <div class="text_container">
        <h3 class="text_top_php">
            Топ 20 навыков по годам для выбранной профессии
        </h3>
        <div class="image_php_ro">
            <img src="static/main/img/skills_by_year.png" class="image_php_ro">
        </div>
    </div>
     <div class="name_php">
        <footer class="text-center">
            <p>Максимов Даниил Максимович РИ-321001</p>
        </footer>
    </div>
{% endblock %}